<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=0.8">
    <link href="{{ url_for('static', filename='style_scan_tickets.css') }}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <script>
        function resetBackgroundColor() {
            if ({{ reset_color|tojson }}) {
                setTimeout(function() {
                    document.body.style.backgroundColor = 'white';
                }, 2000);
            }
        }
    </script>
</head>
<body bgcolor="{{color}}" onload="resetBackgroundColor()">
    <div class="container">
        <div class="login">
            <h1>Enter Code</h1>
            <!-- Add flash messages -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="flash-message {{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form autocomplete="off" action="{{ url_for('scan_tickets') }}" method="post">
                <label for="3lettercode">
                    <i class="fas fa-lock"></i>
                </label>
                <input autofocus type="text" placeholder="3 Letter Code" id="3lettercode" name="fcode" required>
                <input type="submit" value="Check" class="btn">
            </form>
            <center>
                <a href="{{ url_for('home') }}"><i class="fas fa-sign-out-alt"></i> Home</a><br><br>
            </center>
        </div>
    </div>
</body>
</html>