<HTML>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=0.8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>

<body bgcolor=grey text="black">
    <center>
    <h1>
        These are the tickets that are saved in the system
    </h1>
    <h5>
        A "1" means that a code is still valid
    </h5>
    <a href="{{ url_for('home') }}"><i class="fas fa-sign-out-alt"></i> Back to home</a>
    
    <h3>
    <!-- This would be neater with a <table> tag but that didn't work when I tried it.
        However this code is also fine and compact.-->
    {% for row in data %} 
        {% for cell in row %}
            {{ cell }}
        {% endfor %}
        <br>
    {% endfor %}
    </h3>
    </center>   

</body>
</HTML>